# Ignore everything in this directory
*ipynb*/
.virtual_documents/
mnn_core/__pycache__/
# Except this file
!.gitignore
*.pyc
*.iml
*.0
*.png
*.xml
*.pt
*.bin
*.gif
*.mp4
*.txt
*.pgm
*.stats
temp_test.py
apps/mnist/ann_model.py
